<h1>Editing User</h1>

<%= render 'form', user: @user %>

<button class="btn btn-outline-primary" style="border-radius: 20px"><%= link_to 'Show', @user %> |</button>
<button class="btn btn-outline-secondary" style="border-radius: 20px"><%= link_to 'Back', users_path %></button>
