<h1 style="text-align: center; font-size: 24px">Olá, visitante!</h1>
<br>
<h2 style="text-align: center; font-size: 18px">Lista de artigos publicada no Blog:</h2>
<table>
    <tr>
        <td>#</td>
        <td>title</td>
    </tr>
    <% @posts.each do |post| %>
    <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
    </tr><% end %>
</table>